@layer base;

@import './app/Home.css';
@import './components/Dropzone.css';
@import './components/ColorField.css';
@import './components/WatermarkEditor.css';

@layer base {
  html,
  :host {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    tab-size: 4;
    word-break: break-word;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-width: 320px;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }

  svg {
    overflow: visible;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }
}

[hidden]:where(:not([hidden='until-found'])) {
  display: none !important;
}
